  <footer id="footer">
   
    <div class="container">
      <div class="copyright">
        &copy; <strong>User Management System</strong>. 
      </div>
      <div class="credits">
       
        github<a href="https://github.com/Shivamkrishnaa">Shivam Krishna </a>
      </div>
    </div>
  </footer><!-- #footer -->

