<header id="header" class="fixed-top">
  	<div class="container-fluid">
		<nav class="main-nav d-none d-lg-block">
			<ul>
				<li><a href="/user">User List</a></li>
				<li><a href="/user/0">User Create</a></li>
			</ul>
		</nav>
  	</div>
</header>
<div id="page-loader" style="height:10px;position:relative;top:60px;"></div>