<style>
    .list {
  font-family:sans-serif;
}
td {
  padding:10px; 
  border:solid 1px #eee;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}
</style>
<script>
    function query(e, t, n, r, success, error, showError ) {
    showError = typeof showError !== 'undefined' ? showError : true;
    if(typeof mprogress != 'undefined'){
        mprogress.start();
    }
    var params = {}
    if(t == 'GET' && n!=undefined){
        params = $.extend({}, params, n);
        n = undefined;
    }
    return $.ajax({
        url: "/api" + e + "?" + jQuery.param(params),
        async: r,
        method: t,
        data: n != undefined ? JSON.stringify(n) : '',
        dataType: "json",
        contentType: "application/json",
        success: function(msg){
           console.log(msg);
           success(msg);
        },
        error: function(jqXHR, textStatus, errorThrown){
  
        }
    })
    
}
var api = {
    user: {
        get: function(data, success, error) {
            return query('/user/', "GET", data, 1, success, error)
        },
    }
    }

var addUser = function(name,id){
    
$('.list').append('<tr> <td class="name">'+name+'</td> <td class="born"><a href="/user/'+id+'">'+id+'</a></td> <td class="name">Route : /api/user/'+id+', Method : delete</td> </tr>')
}
    $(document).ready(function () {


    api.user.get(undefined,function(success){
    console.log("success", success)
        for(var i=0;i<success.length;i++){
            addUser(success[i].name , success[i].id);
            console.log("success[i].name , success[i].id)", success[i].name , success[i].id)
        }
    })

});
</script>

  <div id="users">
  <h1> Users Listing</h1>
  <table>
    <tbody class="list">
     <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Edit by Id</th>
                                    <th>Delete Description</th>  
                                  
                                </tr>
                            </thead>
      
    </tbody>
  </table>

</div>

